.header {
    background-color: #01050880;
    z-index: 5;
    position: fixed;
    top: 0;
    width: 100%;
}
.section{
    padding-block: 2rem ;
}

.nav {
    padding-block: 1rem;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.card{
    border-radius: 1rem;
    overflow: hidden;
}
.hero {
    position: relative;
    min-height: 100dvh;
}
