.container {
    max-width: 1280px;
    padding-inline: 1rem;
    margin-inline: auto;
}
.g-layout{
    display:grid;
}
.g-layout--auto-fit-columns{
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
}