/* variables */
:root {
    --primary-color: #23b5E8;
    --black-color: #010508;
    --white-color: #fefefe;
    --size: 0.25rem;
    --transition-duration: 0.3s;
}

/* globals */
.body {
    margin: 0;
    background-color: var(--black-color);
    color: var(--white-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* layout */
.container {
    max-width: 1280px;
    padding-inline: 1rem;
    margin-inline: auto;
}
.g-layout{
    display:grid;
}
.g-layout--auto-fit-columns{
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
}
/* components */
.header {
    background-color: #01050880;
    z-index: 5;
    position: fixed;
    top: 0;
    width: 100%;
}
.section{
    padding-block: 2rem ;
}

.nav {
    padding-block: 1rem;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.card{
    border-radius: 1rem;
    overflow: hidden;
}
.hero {
    position: relative;
    min-height: 100dvh;
}

/* elements */
.image {
    display: block;
    object-fit: cover;
}

.image--background {
    position: absolute;
    inset:0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.image--card{
    width:100%;
    height: 360px;
}
.link {
    text-decoration: none;
    color: inherit;
    transition: color var(--transition-duration);

    &:hover {
        color: var(--primary-color);
    }
}

.interactive {
    margin: 0;
    font-size: calc(var(--size) * 3.5);
    font-weight: 600;
}

/* utils */
.d-flex {
    display: flex;
}

.f-direction-column {
    flex-direction: column;
}

.a-items-center {
    align-items: center;
}

.j-content-s-between {
    justify-content: space-between;
}

.g-2 {
    gap: calc(var(--size) * 2);
}
.g-4 {
    gap: calc(var(--size) * 4);
}
@media (width >=768px) {
    .md\:f-direction-row {
        flex-direction: row;
    }
}