/*variables*/
:root{
    --black-color:#010508;
    --white-color:#fefefe;

}

/*global*/
.body{
    margin:0;
    background-color: var(--black-color);
    color:var(--white-color)
}

/*compoinentes*/
.header{
    padding-block: 1rem;
}