.body {
    margin: 0;
    background-color: #fefefe;
    color: #010508;
    font-family: "Noto Sans", sans-serif;
}

.header {
    padding-block: 2rem;
}

.container {
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 1rem;
}

.image {
    display: block;
    object-fit: cover;
}

.image--avatar {
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
}
.link{
    text-decoration: none;
    color:inherit;
    transition: filter 0.3s;
    &hover{
        filter: brightness(1.25);
    }
}
.interactive{
    font-size: 0.875rem;
    margin:0;
}
.interactive--xl{
    font-size: 1.125rem;
    font-weight: 700;

}
.title {
    margin: 0;
    font-size: 2rem;
    font-weight: 800;
}
.title-xs{
    font-size:1.5rem;
    font-weight: 700;
}
.subtitle {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
}

.subtitle--xs {
    font-size: 1.25rem;
    font-weight: 600;
}

.text {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
}

.text--sm {
    font-size: 0.875rem;
}

.d-flex {
    display: flex;
}

.f-direction-column {
    flex-direction: column;
}

.a-items-center {
    align-items: center;
}

.gap-2 {
    gap: 0.5rem;
}

.gap-4 {
    gap: 1rem;
}

.t-align-center {
    text-align: center;
}

.c-ash700 {
    color: #555555;
}

.c-ash800 {
    color: #404040;
}

.c-ash900 {
    color: #2c2c2c;
}

.c-ash950 {
    color: #1e1e1e;
}