.body{
    background-color: #000;
    color: #fefefe;
    margin:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card{
    display:flex;
    flex-direction: column;
    max-width: 320px;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 0.125rem #fefefe;
}
.card_content{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding:1rem;
    background-color: #171121;
}
.card_image{
    width:100%;
    height:320px;
    object-fit: cover;
}
.card_title{
    margin:0;
    font-size:2rem;
    font-weight: bold;
}
.card_text{
    margin:0;
    font-size:1rem;
}
.c-primary{
    colo4:#7c3bed;
}
.d-flex{
    display: flex;
}
.g-4{
    gap:1rem;
}