body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('https://i.postimg.cc/Gp3ysBfq/react-system.webp');
    background-size: cover;
    background-position: center;
    color: #fefefe;
    font-family: monospace;
}

.profile-card {
    display:flex;
    flex-direction: column;
    gap:16px;
    align-items: center;
    max-width: 320px;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0 2px 4px 0 #fefefe80;
    background-color: #01050880;
    backdrop-filter: blur(8px);
    text-align: center;
}

.profile-img {
    border-radius: 50%;
}

.profile-name {
    font-size: 1.125rem;
    margin:0;
}

.profile-role {
    font-size: 1rem;
    color: #bbb;
    margin:0;
}

.profile-description {
    font-size: 0.875rem;
    margin:0;
}

.skills-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}

.social-links {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 12px;
    justify-content: center;
}

.badge {
    background-color: rgb(0, 126, 175);
    padding: 4px 8px;
    border-radius: 8px;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    transition: box-shadow 0.3s, filter 0.3s;

    &:hover{
    box-shadow:0 0.125rem 0.24rem 0 #23b5eb;
    filter:brightness(1.25);
    }
}

.social-link {
    color: #fefefe;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
    &:hover{
        color:#23b5eb;
    }
}